body{
    background-color: var(--cor02);
    margin: 0px 10px 0px 10px ;
    
}

html {
  scroll-behavior: smooth;
}

:root{
    --cor01: #0B0A0A; /*Black  */ 
    --cor02: #ffffff; /*White  */
    --cor03: #27374D;
    --cor04: #526D82;
    
  }

.header {
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu{display:flex;gap:10px;flex-wrap:wrap;justify-content:center}
.header-menu a{font-size:1.125rem;line-height:1.3rem;padding:10px 20px;text-decoration:none;color:#141414;display:block;position:relative}
.header-menu a:after{content:"";display:block;height:1px;width:0;background-color: var(--cor04);margin-top:4px;transition:.3s;position:absolute}
.header-menu a:hover::after{width:60%}
.header-menu a:hover{color:var(--cor03)}
@media(max-width: 800px){
.header{flex-direction:column;gap:40px;padding:20px}
}


ul{margin:0px;padding:0px;list-style:none}
li{list-style:none}
a{
    text-decoration: none;
    color: black;
}
.projetos h2::after {
    display: block;
    content: "";
    width: 100px;
    height: 4px;
    background: var(--cor04);
}
h1,h1,h3,p,a{margin:0px;letter-spacing:.14rem}


main{
  text-align:center;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    background-color: var(--cor07);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
  }

  .imagem{
    display: inline-flex;
    margin-left: auto;
    
     margin-top: 20px;
    width: 600px;
  }

  .imagem:hover{
    transform:scale(1.1);
    transition:.3s;

  }
  .projetos{
    margin-left: 10px;
  }

  .linguagens {
    
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 10px;
}



  .paragrafo{
    font-size:1rem;
    text-align: center;
     margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    padding: 10px;
  }
  @media (max-width:625px) {
    .imagem {
      transition: .3s;
      width: 400px;
  }
  }


  @media (max-width:445px) {
    .imagem {
      transition: .3s;
      width: 350px;
  }
  }